@charset "UTF-8"

body {
background-color: white;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: darkblue;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.719);
    color: white;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkblue;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.719);
    color: white;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    
}
blockquote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    text-align: right;

}
